exportPattern("^[[:alpha:]]+")
exportMethods(
    "calcule",
    "charge",
    "charge_avec_filtre",
    "chargecomplement",
    "choix",
    "coerce",
    "connect",
    "currentDateDebut",
    "currentDateFin",
    "DateFin",
    "getanneeprec",
    "getAnnees",
    "getdateDebut",
    "getLibellesPas",
    "getnoPasCourant",
    "getRefHorodate",
    "getvalue",
    "graphe",
    "setdateDebut",
    "setRefHorodate",
    "suivant",
    "supprime" 
)
exportClasses(
    "Bilan_lot",
     "Bilan_poids_moyen",
     "Bilan_stades_pigm",
     "Bilan_taille",
     "BilanConditionEnv",
     "BilanEspeces",
     "BilanFonctionnementDC",
     "BilanFonctionnementDF",
     "BilanMigration",
     "BilanMigrationConditionEnv",
     "BilanMigrationInterAnnuelle",
     "BilanMigrationPar",
     "PasDeTemps",
     "PasDeTempsChar",
     "PasDeTempsJournalier",
     "RefAnnee",
     "RefCheckBox",
     "RefChoix",
     "RefCoe",
     "RefDC",
     "RefDF",
     "RefHorodate",
     "RefListe",
     "Refpar",
     "Refparqual",
     "Refparquan",
     "Refperiode",
     "RefPoidsMoyenPeche",
     "RefStades",
     "RefStationMesure",
     "RefTaxon",
     "RefTextBox"
)
S3method(trunc, POSIXt)
S3method(round, POSIXt)