exportMethods(
    "connect")
exportClasses(
	"ConnexionODBC",
     "RequeteODBC",
     "RequeteODBCwhere",
     "RequeteODBCwheredate")
export(build_proto)
export(ggplot2usr)
export(chnames)
export(indrepeated)
export(is.even)
export(is.odd)
export(killfactor)
export(tab2df)
export(induk)
export(indrepeated)
export(ex)
export(funhtml)