exportPattern("^[[:alpha:]]+")
exportMethods(
    "connect")
exportClasses(
	"ConnexionODBC",
     "RequeteODBC",
     "RequeteODBCwhere",
     "RequeteODBCwheredate")
export(build_proto)
export(ggplot2usr)
